footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 62rem;

  width: 100%;
  height: 6rem;

  margin-top: 25rem;

  background: var(--e-sport-linear-gradient-90deg);
}
.copyright, .privacy-policy{
  font-size: 1.5rem;
  margin: 0rem;

  color: #FFFFFF;
}
a{
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
  text-underline-offset: 0.5rem;

  transition: text-decoration 1s;
}
footer a:not(:hover){
  text-decoration: none;
  text-decoration-color: transparent;
}
footer li{
  list-style-type: none;
}
@media screen and (max-width: 1850px){
  footer{
    gap: 45rem;
  }
}
@media screen and (max-width: 1575px){
  footer{
    gap: 30rem;
  }
}
@media screen and (max-width: 1325px){
  footer{
    gap: 15rem;
  }
}
@media screen and (max-width: 1100px){
  footer{
    gap: 7.5rem;
  }
}
@media screen and (max-width: 975px){
  footer{
    gap: 3.75rem;
  }
}
@media screen and (max-width: 950px){
  footer{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width: 550px){
  footer{
    gap: 0.75rem;
  }
  .copyright, .privacy-policy{
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 475px){
  footer{
    gap: 0.5rem;
  }
  .copyright, .privacy-policy{
    font-size: 1rem;
  }
}
@media screen and (max-width: 375px){
  footer{
    gap: 0.25rem;
  }
  .copyright, .privacy-policy{
    font-size: 0.75rem;
  }
}