header{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  
  height: 6rem;
  max-height: 20rem;

  font-size: 1.5rem;

  background: var(--e-sport-linear-gradient-90deg);

  filter: drop-shadow(0px 4px 4px black);

  overflow: hidden;

  transition: height 0.25s ease-in;
}
header img:nth-of-type(1){
  margin-right: 12rem;

  filter: drop-shadow(0px 4px 4px black);
}
header img:nth-of-type(2){
  display: none;

  filter: drop-shadow(0px 4px 4px black);
}
ul{
  display: flex;
  gap: 5rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  padding: 0rem;
}
ul li{
  list-style-type: none;
}
ul a:hover{
  text-decoration: underline;
  text-underline-offset: 0.5rem;

  transition: text-decoration 1s;
}
ul a:not(:hover){
  text-decoration: none;
  text-decoration-color: transparent;
}
.login{
  margin-left: 12rem;
}
@media screen and (max-width: 1550px){
  header img:nth-of-type(1){
    margin-right: 2rem;
  }
}
@media screen and (max-width: 1400px){
  header{
    justify-content: flex-start;
    flex-direction: column;
  }
  header img:nth-of-type(1){
    margin-top: 0.5rem;
    margin-right: 0rem;
  }
  header img:nth-of-type(2){
    display: initial;
    width: 1.75rem;
    height: 1.75rem;

    margin-top: 1rem;

    cursor: pointer;
  }
  ul{
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  .login{
    margin-left: 0rem;
  }
}
@media screen and (max-width: 350px){
  header img:nth-of-type(1){
    width: 17rem;
    height: auto;
  }
  header img:nth-of-type(2){
    width: 1.625rem;
    height: 1.625rem;
  }
}
@media screen and (max-width: 300px){
  header img:nth-of-type(1){
    width: 15rem;
    height: auto;
  }
  header img:nth-of-type(2){
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 275px){
  header img:nth-of-type(1){
    width: 13rem;
    height: auto;
  }
  header img:nth-of-type(2){
    width: 1.375rem;
    height: 1.375rem;
  }
}